* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background: radial-gradient(
    134.58% 101.1% at 66.51% 79.36%,
    #2b2b2b 0%,
    #000 100%
  );
}
.start-page {
  width: calc(100% - 256px);
  height: 744px;
  margin: 0 auto;
}
.product-cards {
  width: 100%;
  display: inline-flex;
  padding: 100px 128px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background: radial-gradient(
    64.04% 69.77% at 50% 50%,
    #222325 0%,
    #181818 100%
  );
}
.header-menu-wraper {
  height: 95px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
.get-the-quote {
  display: inline-flex;
  padding: 16px 20px;
  align-items: center;
  gap: 10px;
  border-bottom: 2px solid var(--electric-gradient, #04c1c1);
  a {
    font-family: Radio Canada;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    background: var(
      --electric-gradient,
      linear-gradient(262deg, #04c1c1 -1.66%, #9be3e3 -1.65%, #04c1c1 64.99%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.slider-wrapper {
  .slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .product-image {
    width: 530.392px;
    height: 489.496px;
    flex-shrink: 0;
  }
  .description-content {
    display: flex;
    flex-direction: column;
    color: #fff;
  }
}
.description {
  width: 35%;
}
.content-area {
  display: flex;
  flex-direction: row;
}
.explore-beverages-wrapper {
  display: flex;
  padding: 19px 20px;
  align-items: center;
  gap: 10px;
  background: var(--green, #63dea6);
  border: 0;
  width: 50%;
  .explore-beverages {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.description-content-text {
  padding: 10px;
  margin-bottom: 20px;
}
.description-content-text:last-child {
  margin-bottom: 6px;
}
.description-content-text:first-child {
  margin-bottom: 0;
  padding: 0 15px;
}
